# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.env

# Data and Models (Avoid uploading huge files to GitHub)
data/
*.h5
*.pb
*.tflite
saved_model/
*.zip
*.tar.gz
SSL400/
ssl400_experiment2_ready/

# Frontend / Node
frontend/node_modules/
frontend/dist/
.DS_Store

# IDEs
.vscode/
.idea/
*.keras
*.h5
